# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/
ENV/

# Terraform files
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini

# Python egg files
*.egg
*.egg-info/
dist/
build/

# OneDrive sync files
*.tmp
~$*

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.json

# Logs
*.log

# Other
*.bak
*.swp